.centered {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(rgb(0, 0, 0), rgba(0, 0, 0, 0.829),  rgba(0, 0, 0, 0.685));
}

.centered2 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  justify-items: center;
  padding: 2rem;
}

@media (max-width: 800px) {
  .centered2 {
    grid-template-columns:1fr;
  }
}

.centered3 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  justify-items: center;
  padding: 2rem;
}

.centered4 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(1rem, 1fr));
  justify-items: center;
  padding: 3rem;
}

.starredBG{
  background-image: url("/images/bground.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}